In [7]:
import pandas as pd

pigplan = pd.read_csv("./pigplan_624.csv")

print(pigplan.head())

   FARM_NO  Unnamed: 1 FARM_PIG_NO  Unnamed: 3  BUNMAN_SANCHA  Unnamed: 5  \
0      624         NaN       36-86         NaN              2         NaN
1      624         NaN       36-86         NaN              3         NaN
2      624         NaN       36-86         NaN              4         NaN
3      624         NaN       36-86         NaN              5         NaN
4      624         NaN       36-86         NaN              6         NaN

   GYOBAE_DT  Unnamed: 7  BUNMAN_DT  Unnamed: 9  ...  Unnamed: 11  SILSAN  \
0   20100521         NaN   20100913         NaN  ...          NaN      13
1   20101009         NaN   20110202         NaN  ...          NaN      18
2   20110309         NaN   20110703         NaN  ...          NaN      13
3   20110801         NaN   20111125         NaN  ...          NaN      10
4   20111227         NaN   20120421         NaN  ...          NaN      16

   Unnamed: 13  EUDUSU  Unnamed: 15  EUKG  Unnamed: 17  CHOGYOBAE  \
0          NaN      11          NaN   0.0          NaN        NaN
1          NaN      10          NaN  80.0          NaN        NaN
2          NaN      11          NaN  88.0          NaN        NaN
3          NaN      10          NaN  70.0          NaN        NaN
4          NaN      11          NaN  88.0          NaN        NaN

   Unnamed: 19  JAE
0          NaN  NaN
1          NaN  5.0
2          NaN  9.0
3          NaN  4.0
4          NaN  5.0

[5 rows x 21 columns]

In [8]:
print(pigplan.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2464 entries, 0 to 2463
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FARM_NO        2464 non-null   int64
 1   Unnamed: 1     0 non-null      float64
 2   FARM_PIG_NO    2464 non-null   object
 3   Unnamed: 3     0 non-null      float64
 4   BUNMAN_SANCHA  2464 non-null   int64
 5   Unnamed: 5     0 non-null      float64
 6   GYOBAE_DT      2464 non-null   int64
 7   Unnamed: 7     0 non-null      float64
 8   BUNMAN_DT      2464 non-null   int64
 9   Unnamed: 9     0 non-null      float64
 10  CHONGSAN       2464 non-null   int64
 11  Unnamed: 11    0 non-null      float64
 12  SILSAN         2464 non-null   int64
 13  Unnamed: 13    0 non-null      float64
 14  EUDUSU         2464 non-null   int64
 15  Unnamed: 15    0 non-null      float64
 16  EUKG           2464 non-null   float64
 17  Unnamed: 17    0 non-null      float64
 18  CHOGYOBAE      305 non-null    float64
 19  Unnamed: 19    0 non-null      float64
 20  JAE            1780 non-null   float64
dtypes: float64(13), int64(7), object(1)
memory usage: 404.4+ KB
None

In [10]:
print(pigplan.shape)

(2464, 21)

In [11]:
print(pigplan.columns)

Index(['FARM_NO', 'Unnamed: 1', 'FARM_PIG_NO', 'Unnamed: 3', 'BUNMAN_SANCHA',
       'Unnamed: 5', 'GYOBAE_DT', 'Unnamed: 7', 'BUNMAN_DT', 'Unnamed: 9',
       'CHONGSAN', 'Unnamed: 11', 'SILSAN', 'Unnamed: 13', 'EUDUSU',
       'Unnamed: 15', 'EUKG', 'Unnamed: 17', 'CHOGYOBAE', 'Unnamed: 19',
       'JAE'],
      dtype='object')

In [13]:
pigplan_data = pd.DataFrame(pigplan)
print(type(pigplan_data))
print(pigplan_data)

<class 'pandas.core.frame.DataFrame'>
      FARM_NO  Unnamed: 1 FARM_PIG_NO  Unnamed: 3  BUNMAN_SANCHA  Unnamed: 5  \
0         624         NaN       36-86         NaN              2         NaN
1         624         NaN       36-86         NaN              3         NaN
2         624         NaN       36-86         NaN              4         NaN
3         624         NaN       36-86         NaN              5         NaN
4         624         NaN       36-86         NaN              6         NaN
...       ...         ...         ...         ...            ...         ...
2459      624         NaN     041-025         NaN              1         NaN
2460      624         NaN     041-031         NaN              1         NaN
2461      624         NaN     034-087         NaN              1         NaN
2462      624         NaN     035-006         NaN              1         NaN
2463      624         NaN     036-020         NaN              1         NaN

      GYOBAE_DT  Unnamed: 7  BUNMAN_DT  Unnamed: 9  ...  Unnamed: 11  SILSAN  \
0      20100521         NaN   20100913         NaN  ...          NaN      13
1      20101009         NaN   20110202         NaN  ...          NaN      18
2      20110309         NaN   20110703         NaN  ...          NaN      13
3      20110801         NaN   20111125         NaN  ...          NaN      10
4      20111227         NaN   20120421         NaN  ...          NaN      16
...         ...         ...        ...         ...  ...          ...     ...
2459   20220119         NaN   20220514         NaN  ...          NaN      11
2460   20211228         NaN   20220418         NaN  ...          NaN      10
2461   20211203         NaN   20220328         NaN  ...          NaN      12
2462   20211218         NaN   20220412         NaN  ...          NaN       9
2463   20211225         NaN   20220421         NaN  ...          NaN      16

      Unnamed: 13  EUDUSU  Unnamed: 15  EUKG  Unnamed: 17  CHOGYOBAE  \
0             NaN      11          NaN   0.0          NaN        NaN
1             NaN      10          NaN  80.0          NaN        NaN
2             NaN      11          NaN  88.0          NaN        NaN
3             NaN      10          NaN  70.0          NaN        NaN
4             NaN      11          NaN  88.0          NaN        NaN
...           ...     ...          ...   ...          ...        ...
2459          NaN      12          NaN   0.0          NaN      242.0
2460          NaN      10          NaN   0.0          NaN      220.0
2461          NaN      12          NaN   0.0          NaN      212.0
2462          NaN       9          NaN   0.0          NaN      227.0
2463          NaN      12          NaN   0.0          NaN      233.0

      Unnamed: 19  JAE
0             NaN  NaN
1             NaN  5.0
2             NaN  9.0
3             NaN  4.0
4             NaN  5.0
...           ...  ...
2459          NaN  NaN
2460          NaN  NaN
2461          NaN  NaN
2462          NaN  NaN
2463          NaN  NaN

[2464 rows x 21 columns]

In [31]:
print(pigplan.BUNMAN_SANCHA)
print(pigplan.columns)

0       2
1       3
2       4
3       5
4       6
       ..
2459    1
2460    1
2461    1
2462    1
2463    1
Name: BUNMAN_SANCHA, Length: 2464, dtype: int64
Index(['FARM_NO', 'Unnamed: 1', 'FARM_PIG_NO', 'Unnamed: 3', 'BUNMAN_SANCHA',
       'Unnamed: 5', 'GYOBAE_DT', 'Unnamed: 7', 'BUNMAN_DT', 'Unnamed: 9',
       'CHONGSAN', 'Unnamed: 11', 'SILSAN', 'Unnamed: 13', 'EUDUSU',
       'Unnamed: 15', 'EUKG', 'Unnamed: 17', 'CHOGYOBAE', 'Unnamed: 19',
       'JAE'],
      dtype='object')

In [35]:
pigplan_two = pigplan[['FARM_NO', 'FARM_PIG_NO', 'BUNMAN_SANCHA', 'GYOBAE_DT', 'BUNMAN_DT',
       'CHONGSAN', 'SILSAN', 'EUDUSU', 'EUKG', 'CHOGYOBAE',
       'JAE']]
print(pigplan_two.head(30))

    FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
0       624       36-86              2   20100521   20100913        13
1       624       36-86              3   20101009   20110202        18
2       624       36-86              4   20110309   20110703        13
3       624       36-86              5   20110801   20111125        13
4       624       36-86              6   20111227   20120421        17
5       624       36-86              7   20120522   20120914        18
6       624       36-86              8   20121016   20130207        13
7       624       36-86              9   20130312   20130707        12
8       624       36-86             10   20130806   20131201        10
9       624       36-86             11   20140507   20140829         5
10      624       37-58              2   20100521   20100912        14
11      624       37-58              3   20101009   20110131        15
12      624       37-58              4   20110321   20110712        15
13      624       37-58              5   20110915   20120108         8
14      624       37-58              6   20120208   20120531        17
15      624       37-58              7   20120704   20121027        12
16      624       37-58              8   20121127   20130321        12
17      624       37-58              9   20130423   20130815        16
18      624       37-58             10   20130917   20140110        12
19      624       37-58             11   20140211   20140606        13
20      624       37-58             12   20140708   20141031        12
21      624       37-58             13   20141201   20150327         5
22      624       37-58             14   20150427   20150821         7
23      624       36-96              3   20100521   20100912        13
24      624       36-96              4   20101123   20110317        19
25      624       36-96              5   20110425   20110818        15
26      624       36-96              6   20111004   20120127         7
27      624       36-96              7   20120228   20120621        14
28      624       36-96              8   20120922   20130114        10
29      624       36-96              9   20130220   20130615        11

    SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
0       13      11   0.0        NaN   NaN
1       18      10  80.0        NaN   5.0
2       13      11  88.0        NaN   9.0
3       10      10  70.0        NaN   4.0
4       16      11  88.0        NaN   5.0
5       17      11  77.0        NaN   5.0
6       11      10  70.0        NaN   5.0
7       10       9  72.0        NaN   5.0
8        7       9  81.0        NaN   5.0
9        3       3  24.0        NaN   NaN
10      14       9   0.0        NaN   NaN
11      14       9  54.0        NaN   5.0
12      14      10  70.0        NaN  26.0
13       8       8  56.0        NaN  38.0
14      13       9  67.5        NaN   6.0
15      12      10  70.0        NaN   6.0
16       8       9  67.5        NaN   5.0
17      13       6  42.0        NaN   5.0
18      11       7  52.5        NaN   5.0
19       9       9  63.0        NaN   5.0
20       6       5  37.5        NaN   5.0
21       5       5  37.5        NaN   4.0
22       5       7  45.5        NaN   4.0
23      13      12   0.0        NaN   NaN
24      19      12  84.0        NaN   NaN
25      14       9  63.0        NaN  11.0
26       6      10  70.0        NaN  16.0
27      14       9  72.0        NaN   5.0
28      10      10  80.0        NaN   NaN
29       9       9  67.5        NaN   6.0

In [48]:
pigplan_three = pigplan.iloc[:,list(range(1,21,2))]  ##의미없는 값 삭제
print(pigplan_three)

### 왜

      Unnamed: 1  Unnamed: 3  Unnamed: 5  Unnamed: 7  Unnamed: 9  Unnamed: 11  \
0            NaN         NaN         NaN         NaN         NaN          NaN
1            NaN         NaN         NaN         NaN         NaN          NaN
2            NaN         NaN         NaN         NaN         NaN          NaN
3            NaN         NaN         NaN         NaN         NaN          NaN
4            NaN         NaN         NaN         NaN         NaN          NaN
...          ...         ...         ...         ...         ...          ...
2459         NaN         NaN         NaN         NaN         NaN          NaN
2460         NaN         NaN         NaN         NaN         NaN          NaN
2461         NaN         NaN         NaN         NaN         NaN          NaN
2462         NaN         NaN         NaN         NaN         NaN          NaN
2463         NaN         NaN         NaN         NaN         NaN          NaN

      Unnamed: 13  Unnamed: 15  Unnamed: 17  Unnamed: 19
0             NaN          NaN          NaN          NaN
1             NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN
...           ...          ...          ...          ...
2459          NaN          NaN          NaN          NaN
2460          NaN          NaN          NaN          NaN
2461          NaN          NaN          NaN          NaN
2462          NaN          NaN          NaN          NaN
2463          NaN          NaN          NaN          NaN

[2464 rows x 10 columns]

In [41]:
pigplan.shape

(2464, 21)

In [ ]:
pigplan_four =  pigplan.iloc[:,[]]

In [47]:
##range () 함수 활용
a=list(range(0,10))
print(a)

b= list(range(0,21,2))
print(b)

c = list(range(1,21,2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
a = pd.read_csv('/mnt/d/project/comars/pigplan_1387.csv')

A_data_frame = pd.DataFrame(a)

print(A_data_frame)

print(A_data_frame.iloc[:,:])

      FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
0        1387        9530              1   20100727   20101113         6
1        1387        9530              2   20110128   20110522        14
2        1387        9530              3   20110628   20111021        15
3        1387        9530              4   20120102   20120424        17
4        1387        9530              5   20120529   20120921        13
...       ...         ...            ...        ...        ...       ...
3074     1387      102-46              1   20211223   20220417         9
3075     1387      101-22              1   20211224   20220417        12
3076     1387      102-78              1   20211224   20220413        10
3077     1387      102-34              1   20211222   20220414         6
3078     1387      102-38              1   20211223   20220418        12

      SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
0          3       7  33.6        NaN   NaN
1         14       9  88.2        NaN  43.0
2         15      10  55.0        NaN   5.0
3         15      10  75.0        NaN   NaN
4         13       9  63.0        NaN   5.0
...      ...     ...   ...        ...   ...
3074       9       9  50.4      368.0   NaN
3075      11       9  45.9      369.0   NaN
3076       4       0   0.0      369.0   NaN
3077       3      10  40.0      367.0   NaN
3078      10       9  43.2      368.0   NaN

[3079 rows x 11 columns]
      FARM_NO FARM_PIG_NO  BUNMAN_SANCHA  GYOBAE_DT  BUNMAN_DT  CHONGSAN  \
0        1387        9530              1   20100727   20101113         6
1        1387        9530              2   20110128   20110522        14
2        1387        9530              3   20110628   20111021        15
3        1387        9530              4   20120102   20120424        17
4        1387        9530              5   20120529   20120921        13
...       ...         ...            ...        ...        ...       ...
3074     1387      102-46              1   20211223   20220417         9
3075     1387      101-22              1   20211224   20220417        12
3076     1387      102-78              1   20211224   20220413        10
3077     1387      102-34              1   20211222   20220414         6
3078     1387      102-38              1   20211223   20220418        12

      SILSAN  EUDUSU  EUKG  CHOGYOBAE   JAE
0          3       7  33.6        NaN   NaN
1         14       9  88.2        NaN  43.0
2         15      10  55.0        NaN   5.0
3         15      10  75.0        NaN   NaN
4         13       9  63.0        NaN   5.0
...      ...     ...   ...        ...   ...
3074       9       9  50.4      368.0   NaN
3075      11       9  45.9      369.0   NaN
3076       4       0   0.0      369.0   NaN
3077       3      10  40.0      367.0   NaN
3078      10       9  43.2      368.0   NaN

[3079 rows x 11 columns]